<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="CM_SnapShot_1580029012760"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="114.212.82.52"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="0"/>
    <intAttribute key="maxHeapSize" value="80"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="css, L, cvc, store, clock, msgs, incoming, pvc"/>
    <stringAttribute key="modelComments" value="For TypeOK."/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1CM"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="6"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="ClientAttachment;;c1 :&gt; d1 @@ c2 :&gt; d2;0;0"/>
        <listEntry value="Datacenter;;{d1, d2};1;1"/>
        <listEntry value="Partition;;{p1, p2};1;1"/>
        <listEntry value="Key;;{k1, k2};1;1"/>
        <listEntry value="KeySharding;;k1 :&gt; p1 @@ k2 :&gt; p2;0;0"/>
        <listEntry value="Value;;{v};1;0"/>
        <listEntry value="Client;;{c1, c2};1;1"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value="\A c \in Client: Len(L[c]) &lt;= 3"/>
    <listAttribute key="modelParameterDefinitions">
        <listEntry value="NotVal;;NotVal;1;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="numberOfWorkers" value="9"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="Cure"/>
    <stringAttribute key="tlcResourcesProfile" value="local most"/>
</launchConfiguration>
